
@{
    ViewBag.Title = "ProductSetup";
}

<script src="~/Apps/JScontrollers/Setup/productSetupController.js"></script>
<script src="~/Apps/JSservices/Setup/productSetupService.js"></script>

<style>
    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }
</style>

<div class="container" ng-app="EcommerceBD" ng-controller="productSetupController">   

    <div>
        <table id="ProductTable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Product Id</th>
                    <th>Name English</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tr dir-paginate="v in obj.productsList |filter : Search |itemsPerPage:5" ng-class="{hoverColor: hover}" ng-mouseover="hover = true" ng-mouseleave="hover = false" pagination-id="bed" ng-click="rowSelect(v)">
                <td>{{v.Product_Id}}</td>
                <td>{{v.ProductName}}</td>
                <td>{{v.Price}}</td>
                <td>{{v.Quantity}}</td>
                <td>{{v.category}}</td>
            </tr>
        </table>
        <dir-pagination-controls pagination-id="bed" max-size="5"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>

    </div>

</div>


