
@{
    ViewBag.Title = "ProductSetup";
}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<!-- Jquery CDN JS -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<script src="~/Apps/JScontrollers/Setup/productSetupController.js"></script>
<script src="~/Apps/JSservices/Setup/productSetupService.js"></script>
<script src="~/Apps/JSservices/Setup/categorySetupService.js"></script>
<style>
    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

    .gallery img {
        max-width: 200px;
    }
    
</style>
<div class="container" ng-app="EcommerceBD" ng-controller="productSetupController">
    <div>
        <button class="btn btn-link btn-lg float-right" data-toggle="modal" data-target="#myModal">Add New &nbsp;<span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div>
        <table id="ProductTable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tr dir-paginate="v in obj.productsList |filter : Search |itemsPerPage:5" ng-class="{hoverColor: hover}" ng-mouseover="hover = true" ng-mouseleave="hover = false" pagination-id="bed" ng-click="rowSelect(v)">
                <td>{{v.Product_Id}}</td>
                <td>{{v.ProductName}}</td>
                <td>{{v.Price}}</td>
                <td>{{v.Quantity}}</td>
                <td>{{v.category}}</td>
            </tr>
        </table>
        <dir-pagination-controls pagination-id="bed" max-size="5"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
    </div>
    @*modal section design*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Product</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtProductName">Product Name</label>
                            <input type="text" class="form-control" id="txtProductName" placeholder="Product Name">
                        </div>
                        <div class="form-group">
                            <label for="txtDescription">Description</label>
                            <div><textarea class="form-control" rows="3" placeholder="Description" id="txtDescription"></textarea></div>
                        </div>
                        <div class="form-group">
                            @*<label for="exampleInputFile">File input</label>
                                <input type="file" multiple="multiple" ngf-select="UploadFiles($files)" />
                                <hr />
                                Files:
                                <ul><li ng-repeat="file in SelectedFiles">{{file.name}}</li></ul>
                                <div id="imagePreview"></div>
                                <div id="dvProgress" class="progress" ng-show="Progress >= 0">
                                </div>*@

                            @*2nd type trying*@

                            <input type="file" multiple id="gallery-photo-add">
                            <div class="col-md-12 gallery" >

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Category</label>
                            <div class="ng-cloak">
                                <ui-select ng-model="obj.A.selected" theme="select2" append-to-body="true" style="min-width: 100%">
                                    <ui-select-match placeholder="Select">{{$select.selected.T_LANG2_NAME}}</ui-select-match>
                                    <ui-select-choices repeat="A in obj.categories | propsFilter: {T_LANG2_NAME: $select.search}">
                                        <div ng-bind-html="A.T_LANG2_NAME | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input type="text" id="ddlCategories" ng-model="obj.CATEGORY_ID" ng-bind="obj.CATEGORY_ID = obj.A.selected.CATEGORY_ID" class="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1"><label for="txtPrice">Price</label></div>
                                <div class="col-md-5"><input type="number" class="form-control" id="txtPrice" placeholder="Price"></div>
                                <div class="col-md-2"><label for="txtPrice">Quantity</label></div>
                                <div class="col-md-4"><input type="number" class="form-control" id="txtPrice" placeholder="Quantity"></div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*modal section design*@

</div>


