USE [master]
GO
/****** Object:  Database [Ecommerce_DB]    Script Date: 9/27/2021 6:20:06 PM ******/
CREATE DATABASE [Ecommerce_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ecommerce_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ecommerce_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ecommerce_DB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce_DB]
GO
/****** Object:  Table [dbo].[BRANDS]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANDS](
	[Brand_Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand_Name] [nvarchar](50) NULL,
	[Entry_User] [nvarchar](30) NULL,
	[Entry_Date] [nvarchar](20) NULL,
	[Update_User] [nvarchar](30) NULL,
	[Update_Date] [nvarchar](20) NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Brand_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[T_LANG1_NAME] [nvarchar](50) NULL,
	[T_LANG2_NAME] [nvarchar](50) NULL,
	[created_at] [datetime] NULL CONSTRAINT [CATEGORIES_created_at_default]  DEFAULT (getdate()),
	[modified_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[discount]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[discount](
	[discountId] [int] NOT NULL,
	[discountName] [varchar](100) NULL,
	[desc] [varchar](1) NULL,
	[active] [varchar](1) NULL,
	[created_at] [datetime] NULL,
	[modified_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[discountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMS]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMS](
	[T_ENTRY_USER] [varchar](50) NULL,
	[T_ENTRY_DATE] [date] NULL,
	[T_UPDATE_USER] [varchar](50) NULL,
	[T_UPDATE_DATE] [date] NULL,
	[T_FORM_CODE] [varchar](3) NOT NULL,
	[T_LANG1_NAME] [varchar](200) NULL,
	[T_LANG2_NAME] [varchar](200) NULL,
	[T_ROLE_CODE] [int] NOT NULL,
	[T_FORM_TYPE_CODE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[T_FORM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMS_TYPE]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMS_TYPE](
	[T_ENTRY_TIME] [varchar](1) NULL,
	[T_ENTRY_USER] [varchar](1) NULL,
	[T_FORM_TYPE_CODE] [int] IDENTITY(1,1) NOT NULL,
	[T_FORM_TYPE_NAME_ENG] [nvarchar](50) NULL,
	[T_FORM_TYPE_NAME_LOCAL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[T_FORM_TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LABELS]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LABELS](
	[Label_Id] [int] IDENTITY(1,1) NOT NULL,
	[Label_Eng] [nvarchar](100) NULL,
	[Label_Bang] [nvarchar](100) NULL,
	[Label_Name] [varchar](50) NULL,
	[Form_Name] [varchar](50) NULL,
	[Entry_User] [varchar](10) NULL,
	[Entry_Date] [datetime] NULL,
	[Update_User] [varchar](50) NULL,
	[Update_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Label_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_INVENTORY]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_INVENTORY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[Created_at] [datetime] NULL,
	[Modified_at] [datetime] NULL,
	[Deleted_at] [datetime] NULL,
 CONSTRAINT [PK__PRODUCT___3214EC07E1FFBF21] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[T_LANG2_NAME] [nvarchar](150) NULL,
	[T_LANG1_NAME] [nvarchar](500) NULL,
	[Sub_Category_Id] [int] NULL,
	[Category_Id] [int] NULL,
	[Picture] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[Description] [varchar](500) NULL,
	[Inventory_Id] [int] NULL,
	[created_at] [datetime] NULL CONSTRAINT [PRODUCTS_created_at_default]  DEFAULT (getdate()),
	[modified_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLES](
	[T_ENTRY_DATE] [varchar](20) NULL,
	[T_ENTRY_USER] [varchar](50) NULL,
	[T_UPD_DATE] [varchar](20) NULL,
	[T_UPD_USER] [varchar](50) NULL,
	[T_ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[T_ROLE_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[T_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUB_CATEGORIES]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_CATEGORIES](
	[Sub_Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sub_Category_Name] [nvarchar](50) NULL,
	[Category_Id] [int] NULL,
 CONSTRAINT [PK_Sub_Categories] PRIMARY KEY CLUSTERED 
(
	[Sub_Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9/27/2021 6:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[T_ENTRY_DATE] [varchar](20) NULL,
	[T_ENTRY_USER] [varchar](50) NULL,
	[T_UPD_DATE] [varchar](20) NULL,
	[T_UPD_USER] [varchar](50) NULL,
	[T_USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[T_USER_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[T_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BRANDS] ON 

INSERT [dbo].[BRANDS] ([Brand_Id], [Brand_Name], [Entry_User], [Entry_Date], [Update_User], [Update_Date]) VALUES (1, N'Samsung', NULL, NULL, NULL, NULL)
INSERT [dbo].[BRANDS] ([Brand_Id], [Brand_Name], [Entry_User], [Entry_Date], [Update_User], [Update_Date]) VALUES (2, N'Motorolla', NULL, NULL, NULL, NULL)
INSERT [dbo].[BRANDS] ([Brand_Id], [Brand_Name], [Entry_User], [Entry_Date], [Update_User], [Update_Date]) VALUES (3, N'Xiomi', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BRANDS] OFF
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [T_LANG1_NAME], [T_LANG2_NAME], [created_at], [modified_at], [deleted_at]) VALUES (1, N'Mobile Devices', N'Mobile Devices', NULL, NULL, NULL)
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [T_LANG1_NAME], [T_LANG2_NAME], [created_at], [modified_at], [deleted_at]) VALUES (2, N'বৈদ্যুতিন আনুষাঙ্গিক', N'Electronic Accessories', NULL, NULL, NULL)
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [T_LANG1_NAME], [T_LANG2_NAME], [created_at], [modified_at], [deleted_at]) VALUES (3, N'টিভি ও হোম অ্যাপ্লায়েন্সেস', N'TV & Home Appliances', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
INSERT [dbo].[FORMS] ([T_ENTRY_USER], [T_ENTRY_DATE], [T_UPDATE_USER], [T_UPDATE_DATE], [T_FORM_CODE], [T_LANG1_NAME], [T_LANG2_NAME], [T_ROLE_CODE], [T_FORM_TYPE_CODE]) VALUES (NULL, NULL, NULL, NULL, N'101', N'Category Setup', N'Category Setup', 1, 1)
INSERT [dbo].[FORMS] ([T_ENTRY_USER], [T_ENTRY_DATE], [T_UPDATE_USER], [T_UPDATE_DATE], [T_FORM_CODE], [T_LANG1_NAME], [T_LANG2_NAME], [T_ROLE_CODE], [T_FORM_TYPE_CODE]) VALUES (NULL, NULL, NULL, NULL, N'102', N'Product Setup', N'Product Setup', 1, 1)
SET IDENTITY_INSERT [dbo].[FORMS_TYPE] ON 

INSERT [dbo].[FORMS_TYPE] ([T_ENTRY_TIME], [T_ENTRY_USER], [T_FORM_TYPE_CODE], [T_FORM_TYPE_NAME_ENG], [T_FORM_TYPE_NAME_LOCAL]) VALUES (N'', NULL, 1, N'SETUP', N'SETUP')
INSERT [dbo].[FORMS_TYPE] ([T_ENTRY_TIME], [T_ENTRY_USER], [T_FORM_TYPE_CODE], [T_FORM_TYPE_NAME_ENG], [T_FORM_TYPE_NAME_LOCAL]) VALUES (NULL, NULL, 2, N'TRANSACTION', N'TRANSACTION')
INSERT [dbo].[FORMS_TYPE] ([T_ENTRY_TIME], [T_ENTRY_USER], [T_FORM_TYPE_CODE], [T_FORM_TYPE_NAME_ENG], [T_FORM_TYPE_NAME_LOCAL]) VALUES (NULL, NULL, 3, N'GENERAL', N'GENERAL')
SET IDENTITY_INSERT [dbo].[FORMS_TYPE] OFF
SET IDENTITY_INSERT [dbo].[PRODUCT_INVENTORY] ON 

INSERT [dbo].[PRODUCT_INVENTORY] ([Id], [Quantity], [Created_at], [Modified_at], [Deleted_at]) VALUES (1, 5, NULL, NULL, NULL)
INSERT [dbo].[PRODUCT_INVENTORY] ([Id], [Quantity], [Created_at], [Modified_at], [Deleted_at]) VALUES (2, 9, NULL, NULL, NULL)
INSERT [dbo].[PRODUCT_INVENTORY] ([Id], [Quantity], [Created_at], [Modified_at], [Deleted_at]) VALUES (3, 53, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PRODUCT_INVENTORY] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([Product_Id], [T_LANG2_NAME], [T_LANG1_NAME], [Sub_Category_Id], [Category_Id], [Picture], [Price], [Description], [Inventory_Id], [created_at], [modified_at], [deleted_at]) VALUES (1, N'Samsung Galaxy A50', N'1', NULL, 1, N'Samsung Galaxy A50.jpg', 11000.99, N'dkjafjkladjfkla', 2, NULL, NULL, NULL)
INSERT [dbo].[PRODUCTS] ([Product_Id], [T_LANG2_NAME], [T_LANG1_NAME], [Sub_Category_Id], [Category_Id], [Picture], [Price], [Description], [Inventory_Id], [created_at], [modified_at], [deleted_at]) VALUES (2, N'motorola-moto-g8-plus', N'2', NULL, 1, N'motorola-moto-g8-plus.jpg', 15499, N'the quick brown fox', 1, NULL, NULL, NULL)
INSERT [dbo].[PRODUCTS] ([Product_Id], [T_LANG2_NAME], [T_LANG1_NAME], [Sub_Category_Id], [Category_Id], [Picture], [Price], [Description], [Inventory_Id], [created_at], [modified_at], [deleted_at]) VALUES (3, N'Nokia-6.1-Plus', N'4', NULL, 1, N'Nokia-6.1-Plus.jpg', 12099.99, N'jumps over the lazy', 5, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([T_ENTRY_DATE], [T_ENTRY_USER], [T_UPD_DATE], [T_UPD_USER], [T_ROLE_ID], [T_ROLE_NAME]) VALUES (NULL, NULL, NULL, NULL, 1, N'ADMIN')
INSERT [dbo].[ROLES] ([T_ENTRY_DATE], [T_ENTRY_USER], [T_UPD_DATE], [T_UPD_USER], [T_ROLE_ID], [T_ROLE_NAME]) VALUES (NULL, NULL, NULL, NULL, 2, N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[SUB_CATEGORIES] ON 

INSERT [dbo].[SUB_CATEGORIES] ([Sub_Category_Id], [Sub_Category_Name], [Category_Id]) VALUES (1, N'Mobiles', 1)
INSERT [dbo].[SUB_CATEGORIES] ([Sub_Category_Id], [Sub_Category_Name], [Category_Id]) VALUES (2, N'Tablets', 1)
INSERT [dbo].[SUB_CATEGORIES] ([Sub_Category_Id], [Sub_Category_Name], [Category_Id]) VALUES (3, N'Laptops', 1)
SET IDENTITY_INSERT [dbo].[SUB_CATEGORIES] OFF
/****** Object:  Index [Labels_Label_Id_uindex]    Script Date: 9/27/2021 6:20:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Labels_Label_Id_uindex] ON [dbo].[LABELS]
(
	[Label_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sub_Categories] FOREIGN KEY([Sub_Category_Id])
REFERENCES [dbo].[SUB_CATEGORIES] ([Sub_Category_Id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_Products_Sub_Categories]
GO
ALTER TABLE [dbo].[SUB_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_Sub_Categories_Categories] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[SUB_CATEGORIES] CHECK CONSTRAINT [FK_Sub_Categories_Categories]
GO
USE [master]
GO
