
@*<script src="~/Apps/JScontrollers/homeController.js"></script>
<script src="~/Apps/JSservices/homeService.js"></script>
<script src="~/Apps/JScontrollers/products_ctr.js"></script>*@
<style>
    
</style>
<div >
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Chaldal.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">           
            <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>


    </nav>
</div>